.deal
    .deal-bkg
        .deal-container   
            h2.uppercase 
                |top electronic
                br 
                | deal
            a(href="#").uppercase view sale
            .coupon
                h4 exclusive COUPON
                p 
                    span.upto
                        | UP TO
                    span.box
                        | $100
                    span.off 
                        | OFF
.logo-image.my-8
    .logo-container1.owl-carousel.owl-theme
        .logo1
            img(src="../image/brand1.png", alt="")
        .logo1
            img(src="../image/brand2.png", alt="")
        .logo1
            img(src="../image/brand3.png", alt="")
        .logo1
            img(src="../image/brand4.png", alt="")
        .logo1
            img(src="../image/brand5.png", alt="")
        .logo1
            img(src="../image/brand6.png", alt="")

