.category.mt-8
    .link-adress.my-2
        i.fas.fa-home
        i.fas.fa-angle-right
        h3.uppercase new
        i.fas.fa-angle-right
        h4.uppercase accessories
        i.fas.fa-stream.fa-2x
    .category-content
        .left-info-category
            .info-category
                .type-of-category
                    h2.uppercase.mb-2 categories
                    ul  
                        li.mb-2  
                            a(href="#") Accessories
                        li.mb-2  
                            a(href="#") Watch Fashion
                        li.mb-2  
                            a(href="#") Tees, knits & Polos
                        li.mb-2  
                            a(href="#") Panst & Denim
                    .posi-bar(style="cursor:pointer")
                        h3 -
                        h4 -
                .price
                    h2.mb-2 PRICE
                    .posi-bar(style="cursor:pointer")
                        h3 -
                        h4 -
                    .container   
                        p
                            input#amount(type="text" readonly style ="border: 0; color: #f6931f; font-weight:bold;")
                            lable(for="amount") Price:
                        #slide-ranger
                .size
                    .posi-bar(style="cursor:pointer")
                        h3 -
                        h4 -
                    h2.mb-2.uppercase size

                    ul
                        li.mb-2 
                            a(href="#") Small
                        li.mb-2 
                            a(href="#") Medium
                        li.mb-2 
                            a(href="#") Large
                        li.mb-2 
                            a(href="#") Extra Large
                .brand
                    .posi-bar(style="cursor:pointer")
                        h3 -
                        h4 -
                    h2.mb-2.uppercase brand
                    ul 
                        li.mb-2 
                            a(href="#") Adidas
                        li.mb-2 
                            a(href="#") Calvin klein (26)
                        li.mb-2 
                            a(href="#") Diesel(3)
                        li.mb-2 
                            a(href="#") Lacoste(8)
                        
                .color
                    .posi-bar(style="cursor:pointer")
                        h3 -
                        h4 -

                    h2.mb-2 COLOR
                    ul    
                      li.mb-2
                          a.black(href="#" style="background-color:#000")
                          span(style="cursor:pointer;") Black
                      li.mb-2
                          a.blue(href="#" style="background-color:#0188CC")
                          span(style="cursor:pointer;") Blue
                      li.mb-2
                          a.green(href="#" style="background-color:#81D742")
                          span(style="cursor:pointer;") Green
                      li.mb-2
                          a.indi(href="#" style="background-color:#6085A5")
                          span(style="cursor:pointer;") Indigo
                      li.mb-2
                          a.red(href="#" style="background-color:#AB6E6E")
                          span(style="cursor:pointer;") Red
                      li.mb-2
                          a.brown(href="#" style="background-color:#DDB373")
                          span(style="cursor:pointer;") Brown
                      li.mb-2
                          a.light(href="#" style="background-color:#6B97BF")
                          span(style="cursor:pointer;") Light Blue
                      li.mb-2
                          a.yellow(href="#" style="background-color:#EDED68")
                          span(style="cursor:pointer;") Yellow   
                .category-feature
                    h2.mb-2 FEATURE                                                                                 
                    .feature1.owl-carousel.owl-theme
                        .feature
                            .feature-3rd.mb-3
                                figure
                                    a(href="product.html")
                                        img(src="../image/product-4.jpg", alt="")
                                .content
                                    a(href="#").name Products Short Name
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    h4 $49.00
                            .feature-3rd.mb-3
                                figure
                                    a(href="product.html")
                                        img(src="../image/product-4.jpg", alt="")
                                .content
                                    a(href="#").name Products Short Name
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    h4 $49.00
                            .feature-3rd.mb-3
                                figure
                                    a(href="product.html")
                                        img(src="../image/product-4.jpg", alt="")
                                .content
                                    a(href="#").name Products Short Name
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    h4 $49.00
                        .feature
                            .feature-3rd.mb-3
                                figure
                                    a(href="product.html")
                                        img(src="../image/product-4.jpg", alt="")
                                .content
                                    a(href="#").name Products Short Name
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    h4 $49.00
                            .feature-3rd.mb-3
                                figure
                                    a(href="product.html")
                                        img(src="../image/product-4.jpg", alt="")
                                .content
                                    a(href="#").name Products Short Name
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    h4 $49.00
                            .feature-3rd.mb-3
                                figure
                                    a(href="product.html")
                                        img(src="../image/product-4.jpg", alt="")
                                .content
                                    a(href="#").name Products Short Name
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    h4 $49.00
                        .feature
                            .feature-3rd.mb-3
                                figure
                                    a(href="product.html")
                                        img(src="../image/product-4.jpg", alt="")
                                .content
                                    a(href="#").name Products Short Name
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    h4 $49.00
                            .feature-3rd.mb-3
                                figure
                                    a(href="product.html")
                                        img(src="../image/product-4.jpg", alt="")
                                .content
                                    a(href="#").name Products Short Name
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    h4 $49.00
                            .feature-3rd.mb-3
                                figure
                                    a(href="product.html")
                                        img(src="../image/product-4.jpg", alt="")
                                .content
                                    a(href="#").name Products Short Name
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    i.fas.fa-star(title="0")
                                    h4 $49.00

                .custom-book
                    h2.uppercase.bb custom html book
                    h5 This si custom sub title
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quas eum,! Cum.
        .right-info-category
            .selector.my-4
                .left-selector
                    .left-content
                        p Sort By :
                        .select
                            select.sort-form(name="orderby")
                                option(value="menu_order" selected="selected") Default Shorting
                                option(value="popularity") Sort By Popularity
                                option(value="rating") Sort By average rating   
                                option(value="new") Sort by newness
                                option(value="price") Sort by price : Low to hight
                                option(value="price-esc") Sort By price : hight to low
                            
                    .right-content
                        p Show:
                        .select
                            select.sort-form(name="count")
                                option(value="12" selected="selected") 12
                                option(value="24") 24
                                option(value="36") 36
                        a#link-grid.activer(onclick="grid()" style="cursor:pointer")      
                            i.fas.fa-th
                        a( href="#" onclick="list()" style="cursor:pointer" )
                            i.fas.fa-th-list#link-list
            .category-ptroduct
                .grid-product
                    .first-product.mb-4
                        figure
                            a(href="product.html")
                                img(src="../image/product-4.jpg", alt="")
                            h3.uppercase hot
                            p 20%
                            a.quick.uppercase(href="#" title="Quick View") Quick View
                            i.fas.fa-shopping-bag
                        .category-content1
                            h3.uppercase.my-2 category 
                            i.far.fa-heart
                            h4.mb-1 Short Name Product
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            h5.mt-1 
                                span
                                    | $90.00
                                |$70.00
                    .first-product.mb-4
                        figure
                            a(href="product.html")
                                img(src="../image/product-4.jpg", alt="")
                            h3.uppercase hot
                            p 20%
                            a.quick.uppercase(href="#" title="Quick View") Quick View
                            i.fas.fa-shopping-bag
                        .category-content1
                            h3.uppercase.my-2 category 
                            i.far.fa-heart
                            h4.mb-1 Short Name Product
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            h5.mt-1 
                                span
                                    | $90.00
                                |$70.00
                    .first-product.mb-4
                        figure
                            a(href="product.html")
                                img(src="../image/product-4.jpg", alt="")
                            h3.uppercase hot
                            p 20%
                            a.quick.uppercase(href="#" title="Quick View") Quick View
                            i.fas.fa-shopping-bag
                        .category-content1
                            h3.uppercase.my-2 category 
                            i.far.fa-heart
                            h4.mb-1 Short Name Product
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            h5.mt-1 
                                span
                                    | $90.00
                                |$70.00
                    .first-product.mb-4
                        figure
                            a(href="product.html")
                                img(src="../image/product-4.jpg", alt="")
                            h3.uppercase hot
                            p 20%
                            a.quick.uppercase(href="#" title="Quick View") Quick View
                            i.fas.fa-shopping-bag
                        .category-content1
                            h3.uppercase.my-2 category 
                            i.far.fa-heart
                            h4.mb-1 Short Name Product
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            h5.mt-1 
                                span
                                    | $90.00
                                |$70.00
                    .first-product.mb-4
                        figure
                            a(href="product.html")
                                img(src="../image/product-4.jpg", alt="")
                            h3.uppercase hot
                            p 20%
                            a.quick.uppercase(href="#" title="Quick View") Quick View
                            i.fas.fa-shopping-bag
                        .category-content1
                            h3.uppercase.my-2 category 
                            i.far.fa-heart
                            h4.mb-1 Short Name Product
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            h5.mt-1 
                                span
                                    | $90.00
                                |$70.00
                    .first-product.mb-4
                        figure
                            a(href="product.html")
                                img(src="../image/product-4.jpg", alt="")
                            h3.uppercase hot
                            p 20%
                            a.quick.uppercase(href="#" title="Quick View") Quick View
                            i.fas.fa-shopping-bag
                        .category-content1
                            h3.uppercase.my-2 category 
                            i.far.fa-heart
                            h4.mb-1 Short Name Product
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            h5.mt-1 
                                span
                                    | $90.00
                                |$70.00
                    .first-product.mb-4
                        figure
                            a(href="product.html")
                                img(src="../image/product-4.jpg", alt="")
                            h3.uppercase hot
                            p 20%
                            a.quick.uppercase(href="#" title="Quick View") Quick View
                            i.fas.fa-shopping-bag
                        .category-content1
                            h3.uppercase.my-2 category 
                            i.far.fa-heart
                            h4.mb-1 Short Name Product
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            h5.mt-1 
                                span
                                    | $90.00
                                |$70.00
                    .first-product.mb-4
                        figure
                            a(href="product.html")
                                img(src="../image/product-4.jpg", alt="")
                            h3.uppercase hot
                            p 20%
                            a.quick.uppercase(href="#" title="Quick View") Quick View
                            i.fas.fa-shopping-bag
                        .category-content1
                            h3.uppercase.my-2 category 
                            i.far.fa-heart
                            h4.mb-1 Short Name Product
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            h5.mt-1 
                                span
                                    | $90.00
                                |$70.00
                    .first-product.mb-4
                        figure
                            a(href="product.html")
                                img(src="../image/product-4.jpg", alt="")
                            h3.uppercase hot
                            p 20%
                            a.quick.uppercase(href="#" title="Quick View") Quick View
                            i.fas.fa-shopping-bag
                        .category-content1
                            h3.uppercase.my-2 category 
                            i.far.fa-heart
                            h4.mb-1 Short Name Product
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            h5.mt-1 
                                span
                                    | $90.00
                                |$70.00
                    .first-product.mb-4
                        figure
                            a(href="product.html")
                                img(src="../image/product-4.jpg", alt="")
                            h3.uppercase hot
                            p 20%
                            a.quick.uppercase(href="#" title="Quick View") Quick View
                            i.fas.fa-shopping-bag
                        .category-content1
                            h3.uppercase.my-2 category 
                            i.far.fa-heart
                            h4.mb-1 Short Name Product
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            h5.mt-1 
                                span
                                    | $90.00
                                |$70.00
                    .first-product.mb-4
                        figure
                            a(href="product.html")
                                img(src="../image/product-4.jpg", alt="")
                            h3.uppercase hot
                            p 20%
                            a.quick.uppercase(href="#" title="Quick View") Quick View
                            i.fas.fa-shopping-bag
                        .category-content1
                            h3.uppercase.my-2 category 
                            i.far.fa-heart
                            h4.mb-1 Short Name Product
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            h5.mt-1 
                                span
                                    | $90.00
                                |$70.00
                    .first-product.mb-4
                        figure
                            a(href="product.html")
                                img(src="../image/product-4.jpg", alt="")
                            h3.uppercase hot
                            p 20%
                            a.quick.uppercase(href="#" title="Quick View") Quick View
                            i.fas.fa-shopping-bag
                        .category-content1
                            h3.uppercase.my-2 category 
                            i.far.fa-heart
                            h4.mb-1 Short Name Product
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            i.fas.fa-star.mb-1(title="5.00")
                            h5.mt-1 
                                span
                                    | $90.00
                                |$70.00
                .list-product.hidden
                    .feature.mb-3.list-product1
                        figure 
                            a(href="product.html")
                                img(src="../image/product-4.jpg", alt="")
                        .list-content.mt-4
                            h5.mb-2.uppercase category 
                            h3.mb-2 Short Name Product
                            i.fas.fa-star.mb-2(title="5.00")  
                            i.fas.fa-star.mb-2(title="5.00")  
                            i.fas.fa-star.mb-2(title="5.00")  
                            i.fas.fa-star.mb-2(title="5.00")  
                            i.fas.fa-star.mb-2(title="5.00")
                            p.mb-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum odio culpa totam ducimus, ad voluptatem et, quasi blanditiis similique sapiente autem ipsam facilis vero quia quidem nobis vel placeat ipsa?
                            h4 $15.00
                            .add-cart
                                a.mb-2.add-to-cart(href="#")
                                    i.fas.fa-shopping-bag
                                    p.uppercase add to cart
                                a(href="#")   
                                    i.far.fa-heart.mb-2
                                a(href="#")
                                    i.fas.fa-external-link-alt.mb-2.icon
                    .list-product1
                        figure 
                            a(href="product.html")
                                img(src="../image/product-4.jpg", alt="")
                        .list-content.mt-4
                            h5.mb-2.uppercase category 
                            h3.mb-2 Short Name Product
                            i.fas.fa-star.mb-2(title="5.00")  
                            i.fas.fa-star.mb-2(title="5.00")  
                            i.fas.fa-star.mb-2(title="5.00")  
                            i.fas.fa-star.mb-2(title="5.00")  
                            i.fas.fa-star.mb-2(title="5.00")
                            p.mb-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum odio culpa totam ducimus, ad voluptatem et, quasi blanditiis similique sapiente autem ipsam facilis vero quia quidem nobis vel placeat ipsa?
                            h4 $15.00
                            .add-cart
                                a.mb-2.add-to-cart(href="#")
                                    i.fas.fa-shopping-bag
                                    p.uppercase add to cart
                                a(href="#")   
                                    i.far.fa-heart.mb-2
                                a(href="#")
                                    i.fas.fa-external-link-alt.mb-2.icon
                    .list-product1
                        figure 
                            a(href="product.html")
                                img(src="../image/product-4.jpg", alt="")
                        .list-content.mt-4
                            h5.mb-2.uppercase category 
                            h3.mb-2 Short Name Product
                            i.fas.fa-star.mb-2(title="5.00")  
                            i.fas.fa-star.mb-2(title="5.00")  
                            i.fas.fa-star.mb-2(title="5.00")  
                            i.fas.fa-star.mb-2(title="5.00")  
                            i.fas.fa-star.mb-2(title="5.00")
                            p.mb-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum odio culpa totam ducimus, ad voluptatem et, quasi blanditiis similique sapiente autem ipsam facilis vero quia quidem nobis vel placeat ipsa?
                            h4 $15.00
                            .add-cart
                                a.mb-2.add-to-cart(href="#")
                                    i.fas.fa-shopping-bag
                                    p.uppercase add to cart
                                a(href="#")   
                                    i.far.fa-heart.mb-2
                                a(href="#")
                                    i.fas.fa-external-link-alt.mb-2.icon
                    .list-product1
                        figure 
                            a(href="product.html")
                                img(src="../image/product-4.jpg", alt="")
                        .list-content.mt-4
                            h5.mb-2.uppercase category 
                            h3.mb-2 Short Name Product
                            i.fas.fa-star.mb-2(title="5.00")  
                            i.fas.fa-star.mb-2(title="5.00")  
                            i.fas.fa-star.mb-2(title="5.00")  
                            i.fas.fa-star.mb-2(title="5.00")  
                            i.fas.fa-star.mb-2(title="5.00")
                            p.mb-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum odio culpa totam ducimus, ad voluptatem et, quasi blanditiis similique sapiente autem ipsam facilis vero quia quidem nobis vel placeat ipsa?
                            h4 $15.00
                            .add-cart
                                a.mb-2.add-to-cart(href="#")
                                    i.fas.fa-shopping-bag
                                    p.uppercase add to cart
                                a(href="#")   
                                    i.far.fa-heart.mb-2
                                a(href="#")
                                    i.fas.fa-external-link-alt.mb-2.icon
                    .list-product1
                        figure 
                            a(href="product.html")
                                img(src="../image/product-4.jpg", alt="")
                        .list-content.mt-4
                            h5.mb-2.uppercase category 
                            h3.mb-2 Short Name Product
                            i.fas.fa-star.mb-2(title="5.00")  
                            i.fas.fa-star.mb-2(title="5.00")  
                            i.fas.fa-star.mb-2(title="5.00")  
                            i.fas.fa-star.mb-2(title="5.00")  
                            i.fas.fa-star.mb-2(title="5.00")
                            p.mb-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum odio culpa totam ducimus, ad voluptatem et, quasi blanditiis similique sapiente autem ipsam facilis vero quia quidem nobis vel placeat ipsa?
                            h4 $15.00
                            .add-cart
                                a.mb-2.add-to-cart(href="#")
                                    i.fas.fa-shopping-bag
                                    p.uppercase add to cart
                                a(href="#")   
                                    i.far.fa-heart.mb-2
                                a(href="#")
                                    i.fas.fa-external-link-alt.mb-2.icon
                    .list-product1
                        figure 
                            a(href="product.html")
                                img(src="../image/product-4.jpg", alt="")
                        .list-content.mt-4
                            h5.mb-2.uppercase category 
                            h3.mb-2 Short Name Product
                            i.fas.fa-star.mb-2(title="5.00")  
                            i.fas.fa-star.mb-2(title="5.00")  
                            i.fas.fa-star.mb-2(title="5.00")  
                            i.fas.fa-star.mb-2(title="5.00")  
                            i.fas.fa-star.mb-2(title="5.00")
                            p.mb-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum odio culpa totam ducimus, ad voluptatem et, quasi blanditiis similique sapiente autem ipsam facilis vero quia quidem nobis vel placeat ipsa?
                            h4 $15.00
                            .add-cart
                                a.mb-2.add-to-cart(href="#")
                                    i.fas.fa-shopping-bag
                                    p.uppercase add to cart
                                a(href="#")   
                                    i.far.fa-heart.mb-2
                                a(href="#")
                                    i.fas.fa-external-link-alt.mb-2.icon
                    
script.
    function grid(){
        $('#link-grid').addClass("activer");
        $('#link-list').removeClass("activer");
        $('.list-product').addClass("hidden");
        $('.grid-product').removeClass("hidden")
    }
    function list(){
        $('#link-list').addClass("activer");
        $('#link-grid').removeClass("activer");
        $('.grid-product').addClass("hidden");
        $('.list-product').removeClass("hidden")
    }



