.footer 
    .footer-container.my-6
        .top-footer
            h2 Get in touch
            .arrow-up
        .midle-footer
            .left-footer
                h2.uppercase.mb-5 contact info
                h3.uppercase adress
                p.mb-4 123 Stret Name, City, England
                h3.uppercase phone
                p.mb-4 Toll Free (123) 456-7890
                h3.uppercase email
                p.mb-4 mail@example.com
                h3.uppercase working days/hours
                p.mb-2 Mon - Sun / 9:00AM - 8:00PM
                i.fab.fa-facebook-f
                i.fab.fa-instagram
                i.fab.fa-twitter
            .right-footer
                .top
                    .subscribe
                        h2.uppercase.mb-2 subscribe newsletter
                        p.mb-4 Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    .input-subscribe
                        input.form(type="email" placeholder="  Email address" required)
                        input.btn(type="submit" value="Subscribe")
                .bot
                    .customer
                        h3.uppercase.my-4  customer service
                        table
                            tr
                                td Help & FAQs
                                td Orders History
                            tr
                                td Help & FAQs
                                td Orders History
                            tr
                                td Help & FAQs
                                td Orders History
                    .about
                        h3.uppercase.my-4 about us
                        table
                            tr
                                td About Us
                                td Community
                            tr
                                td Corporate Sales
                                td Investor Relations
                            tr
                                td Careers
                                td 

        .end-footer
            p.my-4 © Porto eCommerce. 2020. All Rights Reserved
            img.my-2(src=".//image/payments.png", alt="")