.slide-container
    .slide.owl-carousel.owl-theme
        .slide1
            img(src="../image/slide-1.jpg", alt="")
            .slide1-content
                h5 Totally Wireless Hight-Performance
                h2 SECLECT HEADPHONES
                h3 30% OFF
                p SATRTING AT
                    span 
                        sup $
                        |199
                        sup 99
                a(href="#") SHOP NOW
        .slide2 
            img(src="../image/slide-2.jpg", alt="")
            .slide2-content
                h4.uppercase.mb-0 extra
                h3 20% OFF
                h5 - ACCESSORIES -
                p DRONES ON SALE
                a(href="#") SHOP ALL SALE 
.service
    .service-container.owl-carousel.owl-theme 
        .freeship 
            i.fas.fa-shipping-fast.fa-2x
            .freship-content
                h4.uppercase.mb-2 free shipping & return
                p Free Shipping on all orders over $99
        .money 
            i.fas.fa-dollar-sign.fa-2x 
            .money-content
                h4.uppercase.mb-2 money back guarantee
                p 100% money back guarantee
        .online 
            i.fas.fa-history.fa-2x
            .online-content
                h4.uppercase.mb-2 online support 24/7
                p Lorem ipsum dolar sit amet
.product-slide.my-8
    .product-slide-container.owl-carousel.owl-theme 
        .product-slide1
            img(src=".//image/banner1.jpg", alt="")
            .product-slide1-content
                h5 Save Up To
                h2 $100
                p on Porto watch Series 5
        .product-slide1
            img(src=".//image/banner2.jpg", alt="")
            .product-slide1-content
                h5 Save Up To
                h2 $80
                p on Porto Pods Professtional
        .product-slide1
            img(src=".//image/banner3.jpg", alt="")
            .product-slide1-content
                h5 Save Up To
                h2 $90
                p on Bluetooth Speaker 
.product-name.my-8
    .feature-link    
        .name-content
            a.uppercase.link1.active(style="cursor:pointer") feature products
            a.link2.uppercase(style="cursor:pointer") latest products                
    .feature.feature-1.my-8
        .feature-product.owl-carousel.owl-theme 
            .feature-product1
                .image
                    img(src="../image/product-1.jpg", alt="")
                    h3.uppercase hot
                    h4.uppercase -20%
                    i.far.fa-heart
                    a(href="#" title="Quick View") QUICK VIEW
                .feature-content
                    a.uppercase.category category
                    a.name Products Short Name
                    i.fas.fa-star(title="0")
                    i.fas.fa-star(title="0")
                    i.fas.fa-star(title="0")
                    i.fas.fa-star(title="0")
                    i.fas.fa-star(title="0")
                    h4 
                        span
                            | $59.00
                        |$49.00
                    .buy-product.my-2
                        .group    
                            button.naga -
                            input#demo1.input-group(type="text" value="0" name="demo1")
                            button.posi +
                        .add.my-2
                            a(href="#")
                                i.fas.fa-shopping-bag
                            a.uppercase.link-to-cart(href="#") add to cart
            .feature-product1
                .image
                    img(src="../image/product-2.jpg", alt="")
                    h3.uppercase hot
                    i.far.fa-heart
                    a(href="#" title="Quick View") QUICK VIEW
                .feature-content
                    a.uppercase.category category
                    a.name Products Short Name
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    h4 
                        span
                            | $59.00
                        |$49.00
                    .buy-product.my-2
                        .group    
                            button.naga -
                            input#demo2.input-group(type="text" value="0" name="demo1")
                            button.posi +
                        .add.my-2
                            a(href="#")
                                i.fas.fa-shopping-bag
                            a.uppercase.link-to-cart(href="#") add to cart
            .feature-product1
                .image
                    img(src="../image/product-3.jpg", alt="")
                    i.far.fa-heart
                    a(href="#" title="Quick View") QUICK VIEW
                .feature-content
                    a.uppercase.category category
                    a.name Products Short Name
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    h4 
                        span
                            | $59.00
                        |$49.00
                    .buy-product.my-2
                        .group    
                            button.naga -
                            input#demo3.input-group(type="text" value="0" name="demo1")
                            button.posi +
                        .add.my-2
                            a(href="#")
                                i.fas.fa-shopping-bag
                            a.uppercase.link-to-cart(href="#") add to cart
            .feature-product1
                .image
                    img(src="../image/product-4.jpg", alt="")
                    h3.uppercase hot
                    h4.uppercase -20%
                    i.far.fa-heart
                    a(href="#" title="Quick View") QUICK VIEW
                .feature-content
                    a.uppercase.category category
                    a.name Products Short Name
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    h4 
                        span
                            | $59.00
                        |$49.00
                    .buy-product.my-2
                        .group    
                            button.naga -
                            input#demo4.input-group(type="text" value="0" name="demo1")
                            button.posi +
                        .add.my-2
                            a(href="#")
                                i.fas.fa-shopping-bag
                            a.uppercase.link-to-cart(href="#") add to cart
            .feature-product1
                .image
                    img(src="../image/product-5.jpg", alt="")
                    h4.uppercase -20%
                    i.far.fa-heart
                    a(href="#" title="Quick View") QUICK VIEW
                .feature-content
                    a.uppercase.category category
                    a.name Products Short Name
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    h4 
                        span
                            | $59.00
                        |$49.00
                    .buy-product.my-2
                        .group    
                            button.naga -
                            input#demo5.input-group(type="text" value="0" name="demo1")
                            button.posi +
                        .add.my-2
                            a(href="#")
                                i.fas.fa-shopping-bag
                            a.uppercase.link-to-cart(href="#") add to cart
    .feature.feature-2.hide.my-8
        .feature-product.owl-carousel.owl-theme 
            .feature-product1
                .image
                    img(src="../image/product-13.jpg", alt="")
                    h3.uppercase hot
                    h4.uppercase -20%
                    i.far.fa-heart
                    a(href="#" title="Quick View") QUICK VIEW
                .feature-content
                    a.uppercase.category category
                    a.name Products Short Name
                    i.fas.fa-star(title="0")
                    i.fas.fa-star(title="0")
                    i.fas.fa-star(title="0")
                    i.fas.fa-star(title="0")
                    i.fas.fa-star(title="0")
                    h4 
                        span
                            | $59.00
                        |$49.00
                    .buy-product.my-2
                        .group    
                            button.naga -
                            input#demo6.input-group(type="text" value="0" name="demo1")
                            button.posi +
                        .add.my-2
                            a(href="#")
                                i.fas.fa-shopping-bag
                            a.uppercase.link-to-cart(href="#") add to cart
            .feature-product1
                .image
                    img(src="../image/product-12.jpg", alt="")
                    h3.uppercase hot
                    i.far.fa-heart
                    a(href="#" title="Quick View") QUICK VIEW
                .feature-content
                    a.uppercase.category category
                    a.name Products Short Name
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    h4 
                        span
                            | $59.00
                        |$49.00
                    .buy-product.my-2
                        .group    
                            button.naga -
                            input#demo7.input-group(type="text" value="0" name="demo1")
                            button.posi +
                        .add.my-2
                            a(href="#")
                                i.fas.fa-shopping-bag
                            a.uppercase.link-to-cart(href="#") add to cart
            .feature-product1
                .image
                    img(src="../image/product-14.jpg", alt="")
                    i.far.fa-heart
                    a(href="#" title="Quick View") QUICK VIEW
                .feature-content
                    a.uppercase.category category
                    a.name Products Short Name
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    h4 
                        span
                            | $59.00
                        |$49.00
                    .buy-product.my-2
                        .group    
                            button.naga -
                            input#demo8.input-group(type="text" value="0" name="demo1")
                            button.posi +
                        .add.my-2
                            a(href="#")
                                i.fas.fa-shopping-bag
                            a.uppercase.link-to-cart(href="#") add to cart
            .feature-product1
                .image
                    img(src="../image/product-15.jpg", alt="")
                    h3.uppercase hot
                    h4.uppercase -20%
                    i.far.fa-heart
                    a(href="#" title="Quick View") QUICK VIEW
                .feature-content
                    a.uppercase.category category
                    a.name Products Short Name
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    h4 
                        span
                            | $59.00
                        |$49.00
                    .buy-product.my-2
                        .group    
                            button.naga -
                            input#demo9.input-group(type="text" value="1" name="demo1")
                            button.posi +
                        .add.my-2
                            a(href="#")
                                i.fas.fa-shopping-bag
                            a.uppercase.link-to-cart(href="#") add to cart
            .feature-product1
                .image
                    img(src="../image/product-16.jpg", alt="")
                    h4.uppercase -20%
                    i.far.fa-heart
                    a(href="#" title="Quick View") QUICK VIEW
                .feature-content
                    a.uppercase.category category
                    a.name Products Short Name
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    h4 
                        span
                            | $59.00
                        |$49.00
                    .buy-product.my-2
                        .group    
                            button.naga(onclick="decreaseValue()" value="Decrease Value") -
                            input#clmm(data-id="tuan" type="text" value="1" name="demo1")
                            button.posi(onclick="increaseValue()" value="increase Value") +
                        .add.my-2
                            a(href="#")
                                i.fas.fa-shopping-bag
                            a.uppercase.link-to-cart(href="#") add to cart1
                    

