.deal
    .deal-bkg
        .deal-container   
            h2.uppercase 
                |top electronic
                br 
                | deal
            a(href="#").uppercase view sale
            .coupon
                h4 exclusive COUPON
                p 
                    span.upto
                        | UP TO
                    span.box
                        | $100
                    span.off 
                        | OFF


