.total-product    
    .top-rate-product.my-8
        h3.uppercase.my-6 top rated products
        .top-rate
            figure
                a(href="#")
                    img(src="../image/product-1 (1).jpg", alt="")
            .top-rate-content
                a.uppercase.category category
                a.name Products Short Name
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                h4 
                    span
                        | $59.00
                    |$49.00
        .top-rate
            figure
                a(href="#")
                    img(src="../image/product-2 (2).jpg", alt="")
            .top-rate-content
                a.uppercase.category category
                a.name Products Short Name
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                h4 
                    span
                        | $59.00
                    |$49.00
        .top-rate
            figure
                a(href="#")
                    img(src="../image/product-32.jpg", alt="")
            .top-rate-content
                a.uppercase.category category
                a.name Products Short Name
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                h4 
                    span
                        | $59.00
                    |$49.00
    .top-rate-product.my-8
        h3.uppercase.my-6 best selling products
        .top-rate
            figure
                a(href="#")
                    img(src="../image/product-4 (1).jpg", alt="")
            .top-rate-content
                a.uppercase.category category
                a.name Products Short Name
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                h4 
                    span
                        | $59.00
                    |$49.00
        .top-rate
            figure
                a(href="#")
                    img(src="../image/product-21.jpg", alt="")
            .top-rate-content
                a.uppercase.category category
                a.name Products Short Name
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                h4 
                    span
                        | $59.00
                    |$49.00
        .top-rate
            figure
                a(href="#")
                    img(src="../image/product-6.jpg", alt="")
            .top-rate-content
                a.uppercase.category category
                a.name Products Short Name
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                h4 
                    span
                        | $59.00
                    |$49.00
    .top-rate-product.my-8
        h3.uppercase.my-6 latest products
        .top-rate
            figure
                a(href="#")
                    img(src="../image/product-7.jpg", alt="")
            .top-rate-content
                a.uppercase.category category
                a.name Products Short Name
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                h4 
                    span
                        | $59.00
                    |$49.00
        .top-rate
            figure
                a(href="#")
                    img(src="../image/product-8.jpg", alt="")
            .top-rate-content
                a.uppercase.category category
                a.name Products Short Name
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                h4 
                    span
                        | $59.00
                    |$49.00
        .top-rate
            figure
                a(href="#")
                    img(src="../image/product-9.jpg", alt="")
            .top-rate-content
                a.uppercase.category category
                a.name Products Short Name
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                i.fas.fa-star(title="0")
                h4 
                    span
                        | $59.00
                    |$49.00