.customer.my-8 
    .customer-container
        .custom
            i.fas.fa-headphones-alt.mb-4
            h3.uppercase customer support
            h5 Need Assistance?
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum eius, id repudiandae sapiente ducimus 
            
        .custom
            i.far.fa-credit-card.mb-4
            h3.uppercase secured payment
            h5 Save & Fast
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum eius, id repudiandae sapiente ducimus 
            
        .custom
            i.fas.fa-reply-all.mb-4
            h3.uppercase return
            h5 Easy & Free
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum eius, id repudiandae sapiente ducimus 
            